.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62%;
  box-sizing: border-box; }
  @media screen and (max-width: 68.75rem) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 40.625rem) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 6rem calc(95vh - 6rem);
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }

.header-1, .header-2, .header-3 {
  font-family: "Roboto", sans-serif; }

.header-1 {
  font-size: 5rem;
  color: #504f4f;
  text-transform: uppercase;
  color: white;
  line-height: 1.2; }
  @media screen and (max-width: 56.25rem) {
    .header-1 {
      font-size: 4.5rem; } }

.header-2 {
  font-size: 4rem;
  text-align: center;
  padding: 0 15rem;
  border-bottom: 3px solid #f6f6f6;
  color: #504f4f;
  display: inline-block;
  text-transform: uppercase; }
  @media screen and (max-width: 40.625rem) {
    .header-2 {
      padding: 0 6rem; } }

.header-3 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 400;
  color: white; }
  .header-3--black {
    color: black; }

.header-4 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #504f4f; }

@keyframes moveRightIn {
  0% {
    left: 100%; }
  80% {
    left: 47%; }
  100% {
    left: 50%; } }

.navigation {
  background: transparent;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: block;
  z-index: 100; }
  .navigation__input {
    display: none; }
  .navigation__icon-box {
    position: fixed;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: white;
    top: 4rem;
    right: 5rem;
    z-index: 105;
    transition: .5s;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); }
  .navigation__background {
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.95);
    top: 5.3rem;
    right: 6.3rem;
    z-index: 100;
    transition: .5s; }
  .navigation__input:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__icon {
    position: absolute;
    width: 3rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 68.75rem) {
      .navigation__icon {
        height: 1.5px; } }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      background: black;
      left: 0;
      position: absolute;
      display: block;
      height: 1.5px;
      width: 100%;
      transition: transform .8s, top .2s;
      transform-origin: left; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__icon-box:hover .navigation__icon {
    height: 1.8px; }
    .navigation__icon-box:hover .navigation__icon::before {
      top: -1.11rem; }
    .navigation__icon-box:hover .navigation__icon::after {
      top: 1.11rem; }
  .navigation__input:checked + .navigation__icon-box .navigation__icon {
    background: transparent; }
    .navigation__input:checked + .navigation__icon-box .navigation__icon::before {
      transform: rotate(-315deg);
      top: 0rem; }
    .navigation__input:checked + .navigation__icon-box .navigation__icon::after {
      transform: rotate(315deg);
      top: 0rem; }
  .navigation__list {
    list-style: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    padding: 3rem; }
  .navigation__input:checked ~ .navigation__nav .navigation__list {
    animation: moveRightIn .5s forwards;
    visibility: visible;
    opacity: 1; }
  .navigation__item {
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    transition: .4s; }
    .navigation__item:not(:last-child) {
      margin-bottom: 2rem; }

.projects {
  grid-column: center-start/ center-end;
  grid-row: 5/6;
  padding: 10rem 6rem;
  margin: auto; }
  @media screen and (max-width: 56.25rem) {
    .projects {
      padding: 6rem 4rem; } }

.project__container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(6, minmax(15rem, 1fr));
  grid-gap: 6rem; }

.project {
  display: grid;
  grid-template-columns: minmax(min-content, 30rem) 1fr;
  grid-gap: 3rem; }
  @media screen and (max-width: 40.625rem) {
    .project {
      grid-template-columns: minmax(min-content, 50rem); } }
  .project:not(:last-child) {
    margin-bottom: 6rem; }
  .project__header {
    text-align: center; }
  .project__img-box {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
    position: relative;
    transition: .3s; }
    .project__img-box:hover {
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
      transform: translateY(-4px); }
  .project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .5s;
    transform: scale(1); }
  .project__description {
    font-size: 1.6rem; }
  .project__tag {
    list-style: none;
    display: flex;
    margin-top: 2rem; }
  .project__item {
    padding: 0.5rem 1rem;
    border-radius: 100px;
    background: #964bc1;
    color: white; }
    .project__item:not(:last-child) {
      margin-right: .5rem; }
  .project__link {
    position: absolute;
    bottom: 20%;
    transform: translate(-50%, 50%);
    transition: .5s;
    opacity: 0;
    visibility: hidden; }
    .project__link-1 {
      left: 40%; }
      @media screen and (max-width: 56.25rem) {
        .project__link-1 {
          left: 35%; } }
      @media screen and (max-width: 40.625rem) {
        .project__link-1 {
          left: 40%; } }
    .project__link-2 {
      left: 60%; }
      @media screen and (max-width: 56.25rem) {
        .project__link-2 {
          left: 65%; } }
      @media screen and (max-width: 40.625rem) {
        .project__link-2 {
          left: 60%; } }
    @media (hover: none) {
      .project__link {
        position: relative; } }
  .project__icon-1 {
    width: 5rem;
    height: 5rem;
    fill: white;
    transition: .5s;
    z-index: 2; }
  .project__icon-2 {
    width: 4rem;
    height: 4rem;
    fill: #333;
    margin-right: 2rem; }
  .project__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: .5s; }
  .project__img-box:hover .project__bg {
    background: rgba(0, 0, 0, 0.788);
    background: linear-gradient(-45deg, rgba(242, 2, 206, 0.9), rgba(100, 180, 246, 0.9)); }
  .project__img-box:hover .project__img {
    transform: scale(1.1); }
  .project__img-box:hover .project__link {
    bottom: 50%;
    visibility: visible;
    opacity: 1; }

.skills {
  padding: 10rem 0;
  grid-column: center-start/center-end;
  grid-row: 3/4; }

.skill__container {
  display: grid;
  padding: 0 4rem;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-column-gap: 6rem; }
  @media screen and (max-width: 56.25rem) {
    .skill__container {
      grid-template-columns: minmax(min-content, 40rem);
      justify-content: center;
      grid-column-gap: 0rem;
      grid-row-gap: 6rem; } }

.skill {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
  justify-items: center;
  z-index: 1;
  padding: 3rem;
  align-items: start;
  align-content: start;
  overflow: hidden;
  transition: .3s;
  margin-bottom: -1px; }
  .skill-2 {
    background: linear-gradient(-45deg, #f403d1, #64b5f6); }
  .skill-1 {
    background: linear-gradient(-45deg, #ffec61, #f321d7); }
  .skill-3 {
    background: linear-gradient(-45deg, #24ff72, #48a1eb); }
  .skill::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 55%;
    background: rgba(255, 255, 255, 0.1);
    transform: skewY(-7deg);
    z-index: 1; }
  .skill__header {
    text-align: center; }
  .skill__icon-box {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    display: block;
    background: white;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
    .skill__icon-box-2 {
      background: linear-gradient(-45deg, #f403d1, #64b5f6); }
    .skill__icon-box-1 {
      background: linear-gradient(-45deg, #ffec61, #f321d7); }
    .skill__icon-box-3 {
      background: linear-gradient(-45deg, #24ff72, #3c96e0); }
  .skill__icon {
    width: 5.5rem;
    height: 5.5rem;
    fill: white;
    position: relative;
    z-index: 3; }
  .skill__list {
    margin-top: 1.5rem; }
  .skill__item {
    font-size: 1.6rem;
    color: white;
    font-family: "Roboto", sans-serif; }
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4); }

@keyframes wave {
  0% {
    background-position: left 0 bottom 0;
    transform: scaleY(1); }
  50% {
    background-position: left 50% bottom 0;
    transform: scaleY(0.55); }
  100% {
    background-position: left 100% bottom 0;
    transform: scaleY(1); } }

.header {
  height: 100%;
  position: relative;
  overflow: hidden;
  grid-column: 1/-1;
  grid-row: 1/3;
  display: grid;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
  grid-template-columns: minmax(5rem, 1fr) min-content minmax(min-content, 100rem) minmax(5rem, 1fr);
  grid-column-gap: 10rem;
  align-items: center; }
  @media screen and (max-width: 56.25rem) {
    .header {
      grid-template-columns: minmax(5rem, 1fr) minmax(min-content, 70rem) minmax(5rem, 1fr);
      grid-column-gap: 0rem;
      align-items: center;
      align-content: start; } }
  @media screen and (max-width: 40.625rem) {
    .header {
      display: flex;
      flex-direction: column;
      padding: 0 4rem; } }
  .header__logo-box {
    grid-column: 2/3;
    margin-top: -15rem;
    position: relative; }
    @media screen and (max-width: 56.25rem) {
      .header__logo-box {
        margin-top: 0rem;
        display: grid;
        justify-items: center; } }
  .header__logo {
    position: relative;
    display: block; }
    @media screen and (max-width: 56.25rem) {
      .header__logo {
        margin-bottom: 5rem;
        height: 15rem;
        margin-top: 5rem; } }
    @media screen and (max-width: 40.625rem) {
      .header__logo {
        margin-bottom: 3rem;
        height: 13rem;
        margin-top: 3rem; } }
  .header__shadow {
    position: absolute;
    height: 2rem;
    width: 100%;
    background: black;
    margin: 0 auto;
    bottom: -5rem;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, 0);
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); }
    @media screen and (max-width: 56.25rem) {
      .header__shadow {
        bottom: 0rem;
        width: 15rem; } }
  .header__text-box {
    grid-column: 3/4;
    margin-top: -15rem;
    z-index: 20; }
    @media screen and (max-width: 56.25rem) {
      .header__text-box {
        grid-column: 2/3;
        margin-top: 3rem; } }
  .header__description {
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: white; }
  .header__wave-box {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px; }
    .header__wave-box--top {
      z-index: 15;
      opacity: 0.5; }
    .header__wave-box--mid {
      z-index: 10;
      opacity: 0.75; }
    .header__wave-box--bot {
      z-index: 5; }
  .header__wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom; }
    .header__wave--top {
      background-image: url(../img/wave4.png);
      background-size: 50% 130px;
      animation: wave 10s infinite linear; }
      @media screen and (max-width: 40.625rem) {
        .header__wave--top {
          background-size: 30% 50px; } }
    .header__wave--mid {
      background-image: url(../img/wave6.png);
      animation: wave 13s infinite linear;
      background-size: 50% 120px; }
      @media screen and (max-width: 40.625rem) {
        .header__wave--mid {
          background-size: 30% 40px; } }
    .header__wave--bot {
      background-image: url(../img/wave7.png);
      background-size: 50% 100px;
      animation: wave 18s infinite linear; }
      @media screen and (max-width: 40.625rem) {
        .header__wave--bot {
          background-size: 30% 30px; } }

.footer {
  background-image: linear-gradient(to bottom, #86377b 20%, #27273c 80%);
  background: #333;
  grid-column: 1/-1;
  grid-row: 6/7;
  padding: 4rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-gap: 3rem;
  align-items: start;
  color: white; }
  @media screen and (max-width: 56.25rem) {
    .footer {
      grid-template-columns: minmax(min-content, 1fr);
      justify-items: center; } }
  .footer__details {
    margin-left: 3rem;
    justify-self: end; }
    @media screen and (max-width: 56.25rem) {
      .footer__details {
        justify-self: center;
        margin-left: 0rem; } }
  .footer__logo {
    grid-column: 1/-1;
    margin: 0 auto;
    width: 10rem;
    height: 10rem; }
  .footer__text {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .footer__list {
    list-style: none;
    display: flex; }
    @media screen and (max-width: 56.25rem) {
      .footer__list {
        justify-content: center;
        margin-top: 1.5rem; } }
  .footer__item:not(:last-child) {
    margin-right: 3rem; }
  .footer__link, .footer__link:link, .footer__link:visited, .footer__icon, .footer__icon:link, .footer__icon:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    display: block;
    transition: .3s;
    outline: none; }
  .footer__link:hover, .footer__link:active, .footer__icon:hover, .footer__icon:active {
    background: #333;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
    transform: rotate(5deg) scale(1.1);
    color: #86377b;
    fill: #86377b; }
  .footer__icon-box {
    outline: none; }
  .footer__icon {
    width: 3rem;
    height: 3rem;
    fill: white;
    transition: .3s;
    position: relative; }

.quote {
  grid-row: 4/5;
  grid-column: full-start/full-end;
  background: #f6f6f6;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 100rem) minmax(6rem, 1fr);
  align-items: center;
  margin-top: 5rem;
  position: relative;
  padding: 5rem 0; }
  .quote__text {
    grid-column: 2/3;
    font-size: 3.3rem;
    line-height: 135%;
    text-align: center;
    position: relative;
    padding: 5rem 0;
    z-index: 2;
    display: block; }
    .quote__text::before, .quote__text::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 5px;
      background: #964bc1;
      border-radius: 100px; }
    .quote__text::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
    .quote__text::after {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  .quote__icon {
    grid-column: 2/3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    fill: #d3d3d3;
    width: 25rem;
    height: 25rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 4rem;
  position: relative;
  overflow: hidden;
  z-index: 25;
  display: inline-block;
  transition: .3s;
  outline: none; }

.btn--spill {
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 400; }
  .btn--spill::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: white;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 0 0 50% 50%;
    transition: .5s; }
  .btn--spill:hover {
    color: #27273c; }
    .btn--spill:hover::before {
      height: 200%; }

.btn--expand:link, .btn--expand:visited {
  border: 1px solid #86377b;
  color: white;
  font-size: 2.7rem;
  font-weight: 300;
  border-radius: 3px;
  display: block; }

.btn--expand::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: #86377b;
  z-index: -1;
  transition: .3s; }

.btn--expand:hover::before {
  height: 350%; }
